* {
    outlin: 1px solid gray; /* Used when you want to see all of the borders without changing size */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::section {
    
}
body {

    box-sizing: border-box;
    background: linear-gradient(to bottom right, #4990d8, #49ee6a, #f1f66d, #dc6057, #e943e6)important;
    background-image: linear-gradient(180deg, rgb(31, 37, 55), rgb(12, 12, 12)60%);
}
a {
    text-decoration: none;
    color: white;
}
header {
    height: 100px;
    background-color: rgb(21, 21, 21);
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
    outline: 1px solid white;
}
header a {
    text-decoration: none;
}
.logo {
    margin-left: calc(10% - 10px);
}
.logo a{
    font-family: 'red hat display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}
.mobile-logo {
    margin-left: 0;
}
.mobile-logo a{
    font-family: 'red hat display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}
nav {
    margin-right: calc(10% - 10px);
    margin-left: -50px;
}
.nav-links {
    display: inline-block;
}
.nav-links {
    font-family: 'red hat display', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    margin-left: 50px;
}
.nav-links a {
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 250ms;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}
.nav-links a:hover {
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.75);
    border: 1;
    color: black;
    border-radius: 10px;
    scale: 1.1;
}
.mobile-header {
    height: 75px;
}
.mobile-header a img {
    display: flex;
    filter: invert();
}
.mobile-header nav {
    display: none;
}
.mobile-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 3%;
}
.section-title {
    font-size: 42px;
}
.section-description {
    font-size: 21px;
}
.landing-page {

}
.landing-page {
    margin: 0 10%
}
.landing-container {
    display: flex;
    height: calc(100vh - 100px); /* -# offsets header height */
    max-height: 1000px;
    align-items: center;
    justify-content: space-around;
    outlin: 1px solid white;
}
.left-div, .right-div {
    width: 45%;
    color: white;
}
.left-div {
    font-family: 'red hat display', sans-serif;
    align-items: center;
    display: flex;
}
.left-div-text {
    align-items: center;
}
.left-div h1{
    font-size: 10ch;
    line-height: 1.5ch;
    margin: 0 0 25px;
}
.left-div p {
    margin: 0;
    font-size: 2ch;
    color: rgba(255, 255, 255, 0.75);
}
.right-div {
    font-family: 'red hat display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-div img {
    object-fit: cover;
    display: flex;
    border-radius: 20%;
    height: 100%;
}
.projects-intro {
    font-family: 'red hat display', sans-serif;
    text-align: center;
    color: white;
    margin: 50px 10%;
}
.projects-intro h1 {
    margin-bottom: 25px;
}
.projects-intro p {
    margin: 0;
}
.portfolio {
    position: relative;
    align-items: center;
    border-top: 1px solid white;
}
.portfolio-container {
    margin: 50px 10% 0; /* remove 3rd 0 and padding-bottom: 50px; below for even spacing */
    padding-bottom: 50px;
}
.project-section {
    color: white;
    backdrop-filter: blur(50px);
    font-family: 'red hat display', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: -20px auto;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 25px;
}
.project-card {
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid white;
    transition: 250ms;
    outline: 0 solid white;
}
.project-card:hover {
    transform: scale(1.03);
    outline: 1px solid white;
}
.project-thumbnail {
    aspect-ratio: 16/9;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.05);
}
.card-title, .card-description {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.05);
}
.card-title {
    padding: 5px 15px 0;
}
.card-description {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    padding: 0 15px 12px;
    backdrop-filter: blur(1px);
}
.made-with {
    color: white;
    font-family: 'red hat display', sans-serif;
    word-spacing: 10px;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid white;
    background-color: rgb(255, 255, 255, 0.05);
}
.card-links {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
}
.code-link, .demo-link{
    font-size: 18px;
    font-family: 'red hat display', sans-serif;
    width: 50%;
    box-sizing: border-box;
    padding: 10% 0;
    transition: 250ms;
    font-weight: 500;
}
.code-link:hover, .demo-link:hover{
    font-family: 'red hat display', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    cursor: pointer;
}
.code-link {
    border-right: 1px solid white;
}
.see-more-container {
    display: flex;
    margin-top: 50px;
}
.see-more-button {
    color: white;
    backdrop-filter: blur(50px);
    font-family: 'red hat display', sans-serif;
    display: inline-block;
    margin: -20px auto;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    transition: 250ms;
    align-items: center;
}
.see-more-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.see-more-button a {
    
}
.tech-stack {
    margin: 50px 0;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, .025);
}
.stack-container {
    margin: 0px 10%;
}
.stack-title, .certificate-title {
    color: white;
    font-family: 'red hat display', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}
.stack-grid, .certificate-grid{
    grid-template-columns: auto;
    row-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.stack-img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: 250ms;
    overflow: hidden;
}
.stack-img:hover, .certificate-img:hover {
    transform: scale(1.1);
}
.stack-card {
    margin-bottom: 0px;
}
.stack-card img {
    height: 100px;
}
.stack-card h1 {
    text-align: center;
    font-family: 'red hat display', sans-serif;
    color: white;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
}
.certificates {
    background-color: rgba(255, 255, 255, .025);
    margin: 50px 0;
    padding: 50px 0;
}
.certificate-card h1 {
    text-align: center;
    font-family: 'red hat display', sans-serif;
    color: white;
    margin-bottom: 0px;
    font-weight: 600;
    letter-spacing: 1px;
}
.certificates-container {
    margin: 0px 10%;
    color: white;
    font-family: 'red hat display', sans-serif;
    text-align: center;
}
.certificates-container p {
    margin-bottom: 25px;
}
.certificate-grid {
    grid-template-columns: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}
.certificate-card {
}
.certificate-img {
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: 250ms;
    overflow: hidde;
}
.certificate-img img {
    width: 250px;
    border-radius: 10px;
    transition: 250ms;
}
.certificate-img img:hover {
    border-radius: 0px;
}
.certificate-card h1{
    font-size: 24px;
}
.certificate-card h4::before {
    content: 'By ';
    
}
.certificate-card h4 {
    font-weight: 400;
    margin: 10px 0 0;
}
.roadmap {
    background-color: rgba(255, 255, 255, .025);
    margin: 50px 0;
    padding: 50px 0;
    
}
.roadmap-container {
    margin: 0px 10%;
    color: white;
    font-family: 'red hat display', sans-serif;
    text-align: center;
}
.roadmap-container h1 {
    margin-top: 0px;
    margin-bottom: 25px;
}
.roadmap-container p {
    margin-bottom: 0px;
}
.contact {
    margin: 50px 0;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, .025);
    font-family: 'red hat display', sans-serif;
    text-align: center;
    color: white;
}
.contact-container {
    margin: 0px 10%;
}
.contact h1{
    margin-bottom: 25px;
}
.contact p {
    margin-bottom: 25px;
}
.contact .email-link a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 21px;
    font-weight: 500;
    transition: 250ms;
    display: inline-block;
    text-decoration: none;
}
.contact .email-link a:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-color: rgb(255, 255, 255);
    scale: 1.1;
}
footer {
    background-color: rgba(255, 255, 255, 0.025);
    color: white;
    margin: 0;
    border-top: 1px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}
.socials {
}
.socials-grid {
    grid-template-columns: auto;
    display: flex;
    justify-content: center;
    outline: px solid;
}
.social-container {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 25px 10px;
    transition: 250ms;
}
.social-container a{
    height: 25px;
    width: 25px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 250ms;
}
.social-container:hover {
    scale: 1.2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    filter: invert();
}
.social-container img {
    filter: invert();
}
.footer-text {
    font-family: 'red hat display', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: .5px;
    text-decoration: none;
    color: white;
}
.footer-text a {
    color: white;
    text-decoration: none;
}
.footer-text a:hover {
    cursor: pointer;
    opacity: 75%;
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 1201px) {
    .mobile-header {
        display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .desktop-header {
        display: none;
    }
    .landing-page {
        margin: 0 3%;
    }
    .landing-container {
        height: calc(75vw - 100px); /* -# offsets header height */
        min-height: max(50px, 5vh);
    }
    .left-div, .right-div {
        width: 100%;
        color: white;
        padding: 0 1%;
    }
    .left-div {
        height: auto;
    }
    .right-div {
        height: auto;
    }
    .right-div img {
        width: 100%;
    }
    .left-div h1{
        margin: 50px 0 25px;
        font-size: 3em;
        line-height: 1.5ch;
    }
    .left-div p {
        margin: 10px 0 50px;
    }
    .projects-intro {
    margin:  50px 5%;
    }
    .portfolio-container {
    margin: 50px 5% 0; /* remove 3rd 0 and padding-bottom: 50px; below for even spacing */
    }
    .stack-container {
    margin: 0px 5%;
    }
    .certificates-container {
    margin: 0 5%;
    }
    .roadmap-container {
    margin: 0 5%;
    }
    .contact-container {
    margin: 0 5%;
    }
} 
@media screen and (max-width: 600px) {
    * {
    }
    html {
        width: 100vw;
        width: fit-content;
    }
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .desktop-header {
        display: none;
    }
    .mobile-header {
        height: 75px;
    }
    .mobile-header nav {
        display: none;
    }
    .mobile-header-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 3%;
    }
    
    .landing-page {
        margin: 0 3%;
    }
    .landing-container {
        display: block;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        max-hei ght: 800px;
        align-items: center;
        outlin: 1px solid white;
    }
    .left-div, .right-div {
        width: 100%;
        color: white;
    }
    .left-div {
        height: auto;
        text-align: center;
    }
    .right-div {
        height: auto;
    }
    .right-div img {
        width: 95%;
    }
    .left-div h1{
        margin: 50px 0 25px;
        font-size: 3em;
        line-height: 1.5ch;
    }
    .left-div p {
        margin: 10px 0 50px;
    }

    .projects-intro {
        margin:  50px 3%;
    }
    .portfolio-container {
        margin: 50px 3% 0; /* remove 3rd 0 and padding-bottom: 50px; below for even spacing */
    }
    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .project-card {
        width: 100%;
    }

    .stack-container {
        margin: 0px 3%;
    }
    .certificates-container {
        margin: 0 3%;
    }
    .certificate-grid {
        justify-content: space-around;
        column-gap: 0;
    }
    .certificate-card {
        width: 45%;
    }
    .certificate-img img {
        object-fit: cover;
        width: 100%;
    }
    .roadmap-container {
        margin: 0 3%;
    }
    .contact-container {
        margin: 0 3%;
    }

    .section-title {
        font-size: 2.2rem;
    }
    .section-description {
        font-size: 1.2rem;
    }
}
