 {
    outline: 1px solid gray;
}
body {
    margin: 0;
    background: linear-gradient(to bottom right, #4990d8, #49ee6a, #f1f66d, #dc6057, #e943e6)important;
    background-image: linear-gradient(180deg, rgb(31, 37, 55), rgb(12, 12, 12)60%);
}
header {
    height: 100px;
    background-color: rgb(21, 21, 21);
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
}
header a {
    text-decoration: none;
}
.nav-link {
    display: inline-block;
}
.logo {
    margin-left: calc(10% - 10px);
}
.logo a{
    font-family: 'red hat display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}
nav {
    margin-right: calc(10% - 10px);
    overflow: hidden;
}
.nav-links {
    font-family: 'red hat display', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    margin-left: 50px;
}
.nav-links a {
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 250ms;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}
.nav-links a:hover {
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.75);
    border: 1;
    color: black;
    border-radius: 10px;
    scale: 1.1;
}
.landing-page {
    height: calc(100vh - 50px);
    margin-top: -100px;
    
}
.landing-container {
    display: flex;
    height: calc(100vh - 100px);
    margin: 100px 10%;
    align-items: center;
    outline: 1px solid white;
    min-height: 400px;
}
.left-div, .right-div {
    display: inline-block;
    height: 100%;
    width: 50%;
    color: white;
    padding: 0 5%;
}
.left-div {
    font-family: 'red hat display', sans-serif;
    align-items: center;
    display: flex;
}
.left-div-text {
    align-items: center;
    visibility: hidden;
}
.left-div h1{
    margin: 0 0 .2ch;
    font-size: 10ch;
    line-height: 1.5ch;
}
.left-div p {
    margin: 0;
    font-size: 2ch;
    color: rgba(255, 255, 255, 0.75);
}
.right-div {
    font-family: 'red hat display', sans-serif;
}
.projects-intro {
    font-family: 'red hat display', sans-serif;
    text-align: center;
    color: white;
    margin: 50px 10%;
}
.projects-intro h1 {
    font-size: 42px;
    margin-bottom: 25px;
    margin-top: 0;
}
.projects-intro p {
    font-size: 21px;
    margin: 0;
}
.portfolio-container {
    position: relative;
    align-items: center;
    border-top: 1px solid white;
}
.project-section {
    color: white;
    backdrop-filter: blur(50px);
    font-family: 'red hat display', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: -18px auto;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}
.project-grid {
    margin: 0 10% 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    min-width: 500px;
    backgroun-color: green;
}
.project-card {
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid white;
    transition: 250ms;
}
.project-card:hover {
    transform: scale(1.03);
}
.project-thumbnail {
    aspect-ratio: 16/9;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.05);
}
.card-title, .card-description {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.05);
}
.card-title {
    padding: 5px 15px 0;
}
.card-description {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    padding: 0 15px 12px;
    backdrop-filter: blur(1px);
}
.made-with {
    color: white;
    font-family: 'red hat display';
    word-spacing: 10px;
    margin: 0;
    padding: 10px 15px;
    border-top: 1px solid white;
    background-color: rgb(255, 255, 255, 0.05);
}
.card-links {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
}
.code-link, .demo-link{
    font-size: 18px;
    font-family: 'red hat display', sans-serif;
    width: 50%;
    box-sizing: border-box;
    padding: 100% 0;
    transition: 250ms;
    font-weight: 500;
}
.code-link:hover, .demo-link:hover{
    font-family: 'red hat display', sans-serif;
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    cursor: pointer;
}
.code-link {
    border-right: 1px solid white;
}

.tech-stack {
    margin: 50px 0;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, .025);
}
.stack-container {
    margin: 0px 10%;
}
.stack-title {
    color: white;
    font-family: 'red hat display', sans-serif;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.stack-grid {
    grid-template-columns: auto;
    display: flex;
    justify-content: center;
}
.stack-img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: 250ms;
    overflow: hidden;
}
.stack-img:hover {
    transform: scale(1.1);
}
.stack-card img {
    height: 100px;
}
.stack-card h1 {
    text-align: center;
    font-family: 'red hat display', sans-serif;
    color: white;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact {
    margin: 50px 0;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, .025);
    font-family: 'red hat display', sans-serif;
    text-align: center;
    color: white;
}
.contact-container {
    margin: 0px 10%;
}
.contact h1{
    font-size: 42px;
    margin-bottom: 25px;
    margin: 0;
}
.contact p {
    font-size: 21px;
    margin-bottom: 25px;
}
.contact .email-link a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 250ms;
    display: inline-block;
    text-decoration: none;
}
.contact .email-link a:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    border-color: black;
    scale: 1.1;
}
footer {
    background-color: rgba(255, 255, 255, 0.025);
    color: white;
    margin: 0;
    border-top: 1px solid rgb(255, 255, 255);
}
.socials {
    padding: 0;
    margin: 0;
}
.socials-grid {
    grid-template-columns: auto;
    display: flex;
    justify-content: center;
    outline: px solid;
    margin: 0;
}
.social-container {
    height: 25px;
    width: 25px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 25px 10px;
    transition: 250ms;
}
.social-container a{
    height: 25px;
    width: 25px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 250ms;
}
.social-container:hover{
    scale: 1.2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    filter: invert();
}
.social-container img {
    filter: invert();
}
.footer-text {
    font-family: 'red hat display', sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: .5px;
    text-decoration: none;
    color: white;
}
.footer-text a {
    color: white;
    text-decoration: none;
}
.footer-text a:hover {
    cursor: pointer;
    opacity: 75%;
    text-decoration: none;
    color: white;
}