 {
    outline: 1px solid gray;
}
footer {
    height: 100px;
    background-color: gainsboro;
    opacity: 20%;
}
body {
    margin: 0;
    background-color: rgb(21, 21, 21);
    background-image: linear-gradient(180deg, rgb(31, 37, 55), rgb(12, 12, 12)60%);
}
header {
    height: 100px;
    background-color: rgb(21, 21, 21);
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
}
header a {
    text-decoration: none;
}
.nav-link {
    display: inline-block;
    box-sizing: border-box;
}
.logo {
    margin-left: calc(10% - 10px);
}
.logo a{
    font-family: 'red hat display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}
nav {
    margin-right: calc(10% - 10px);
}
.nav-links {
    font-family: 'red hat display', sans-serif;
    display: inline-block;
    color: rgb(126, 77, 77);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    margin-left: 50px;
}
.nav-links a {
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 250ms;
    border-radius: 5px;
}
.nav-links a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}
.landing-page {
    height: 100vh;
    margin-top: -100px;
}
.projects-intro {
    font-family: 'red hat display', sans-serif;
    text-align: center;
    color: white;
}
.projects-intro h1 {
    font-size: 42px;
    margin: 0 10% 10px;
}
.projects-intro p {
    font-size: 21px;
    margin: 0 10% 50px;
}
.portfolio-container {
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    align-items: center;
}
.project-tier {
    color: white;
    background-color: rgb(18, 20, 31);
    font-family: 'red hat display', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: -18px auto;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}
.tier-gap {
    height: 50px;
    border-top: 1px solid white;
}
.project-grid {
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    min-width: 500px;
}
.project-card {
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid white;
    transition: 250ms;
}
.project-card:hover {
    transform: scale(1.03);
}
.project-thumbnail {
    aspect-ratio: 16/9;
    border-bottom: 1px solid white;
}
.card-title {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    padding: 5px 15px 0;
}
.card-description {
    color: white;
    font-family: 'red hat display', sans-serif;
    margin: 0;
    padding: 0 15px 12px;
}
.card-links {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    overflow: hidden;
}
.code-link, .demo-link{
    font-size: 18px;
    font-family: 'red hat display', sans-serif;
    width: 50%;
    box-sizing: border-box;
    padding: 100% 0;
    transition: 250ms;
}
.code-link:hover, .demo-link:hover{
    font-family: 'red hat display', sans-serif;
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 700;
    cursor: pointer;
}
.code-link {
    border-right: 1px solid white;
}

.tech-stack {
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.01)
}
.tech-stack h1 {
    color: white;
    font-family: 'red hat display', sans-serif;
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    padding-top: 50px;
    
}
.stack-grid {
    grid-template-columns: auto;
    display: flex;
    justify-content: center;
}
.stack-img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.stack-card img {
    height: 100px;
}
.stack-card h1 {
    margin: ;
    font-size: 24px;
}