* {
    outlin: 1px solid gray;
}
body {
    margin: 0;
    height: 2000px;
    background-color: rgb(21, 21, 21);
}
header {
    width: 100%;
    height: 100px;
    background-color: rgb(21, 21, 21);
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: ;
}
header a {
    text-decoration: none;
}
.nav-link {
    display: inline-block;
    box-sizing: border-box;
}
.logo {
    margin-left: 10%;
}
.logo a{
    font-family: 'red hat display', sans-serif;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
nav {
    margin-right: 10%;
}
.nav-links {
    font-family: 'red hat display', sans-serif;
    display: inline-block;
    color: rgb(126, 77, 77);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    margin-left: 50px;
}
.nav-links a {
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 500ms;
    border-radius: 5px;
    
}
.nav-links a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}
.landing-page {
    height: 90vh;
    width: 100vw;
    background-color: rgb(55, 51, 51);
    margin-top: -100px
}
.portfolio-grid {
    background-color: rgb(69, 69, 69);
    width: 80%;
    height: 1000px;
    margin: -10vh auto;
    border-radius: 50px;
}
